* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.navbar {
    height: 60px;
    width: 100%;
    background: #1f2937;
    display: flex;
    justify-content: center;
}

.container {
    max-width: max(1000px, 80vw);
    padding: 0 20px;
    flex: 1;
}

.navbar .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.navbar a{
    color: #e5e7eb;
}

.header {
    height: 500px;
    width: 100%;
    background: #1f2937;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.header .container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
}

.header .container * {
    flex: 1;
}

.header h1 {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: -40px;
}

.header p {
    margin-bottom: 25px;
}

.header .content a {
    color: #ffffff;
    background: #3882f6;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
}

.header .banner {
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .banner img {
    height: 100%;
    background: #ffffff22;
}

.card-section {
    height: 500px;
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
}

.card-section .container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 0;
    gap: 60px;
}

.card-section h1 {
    font-size: 34px;
    color: #1f2937;
}

.card-section .cards {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 40px;
    margin-bottom: 100px;
}

.card-section .cards .card {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-section .cards .card img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.card-section .cards .card p {
    text-align: center;
    color: #1f2937;
}

.quote {
    width: 100%;
    background: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 120px 0;
}

.quote .container {
    height: 100%;
    width: 100%;
    padding: 0 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #1f2937;
}

.quote .main-quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: justify;
}

.quote .author {
    padding-top: 10px;
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}